# Python Cache and temporary files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/

# Environments and secrets
.env
.env.*
env/
venv/
.venv/
ENV/

# Node.js
node_modules/
dist/
dist-ssr/
*.local

*.pem
*.pdf

